@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//scss-lint:disable all
.gitlab-content-container {
  padding-top: 0 !important;
}

.stats-tile-container {
  display: flex;

  .tile-stat:not(:first-child) {
    margin-left: 30px;

    @media all and (max-width: $screen-sm-min) {
      margin-left: 0;
      margin-top: 30px;
    }
  }

  @media all and (max-width: $screen-sm-min) {
    flex-direction: column;
  }
}

.content {

  .content-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
