---
layout: default
title: Join GitLab
twitter_image: '/images/tweets/teamgitlab.jpg'
suppress_header: true
extra_css:
  - jobs.css
extra_js:
  - apply.js
---
.container.listing-container
  .content.tile{id: 'opportunities'}
    %h1 Current Vacancies
    %p
      All of our vacancies are hosted on our applicant tracking system (ATS),
      %a{href: 'https://www.greenhouse.io/'} Greenhouse.
      The below list will dynamically load our current vacancies from Greenhouse; if you do not see the list, please view the
      %a{href: 'https://boards.greenhouse.io/gitlab'} vacancies directly on Greenhouse.
    %p
      We don’t work with recruiters or agencies.
      We are all remote and hire in most countries except for
      %a{href: '/jobs/faq#country-hiring-guidelines'} these
    %a{href: '/jobs/faq'} Please see this page for more details and other FAQs.

    - greenhouse = GreenhouseIo::JobBoard.new
    - departments = greenhouse.departments
    .container{id: 'job-filter'}
      %h6 Department
      %select{id: 'select-department'}
        %option{value: 'all'}= "All Departments"
        - departments[:departments].each do |department|
          - if department[:parent_id] == nil && !department[:child_ids].empty?
            %option{value: "#{department[:id]}", data: {type: 'department'}}= department[:name]
            - department[:child_ids].each do |item|
            - office = greenhouse.department(item)
              - if (!office[:jobs].empty?)
                %option{value: "#{office[:id]}", data: {type: 'office'}}= office[:name]

    .container{id: 'job-listing'}
      .jobs-counter.hidden
        %h5#counter
      - departments[:departments].each do |department|
        - if department[:parent_id] == nil && !department[:child_ids].empty?
          %h4.department-title{data: {department: department[:id]}}= department[:name]
          - department[:child_ids].each do |item|
          - office = greenhouse.department(item)
            - if (!office[:jobs].empty?)
              %h5.office-title{data: {office: office[:id]}, style: 'padding-left: 20px'}= office[:name]
              - office[:jobs].each do |job|
                .job-container{data: {department: department[:id], office: office[:id]}, style: 'padding-left: 40px'}
                  %a{href: "#{job[:absolute_url]}"}= job[:title]
                  %h6= job[:location][:name]
