---
layout: default
title: Hackathon
description: "Landing page for GitLab Hackathon"
suppress_header: true
extra_css:
  - contributing.css
extra_js:
  - countdown.js
  - hackathon.js
---
.wrapper
  .simple-header
    %h1 GitLab Hackathon
    %p
    :markdown
      The next Hackathon is February 12-13, 2019!
  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title
          :markdown
            The GitLab Hackathon is a virtual event that takes place once a quarter, where community members get together to work on merge requests, 
            participate in tutorial sessions, and to help new contributors. The Hackathon is open to anyone who is interested in contributing code,
            documentation, translations, UX design and more. Prizes are awarded to participants for having Merge Requests (MRs) merged
            and there may also be special award categories at each Hackathon.  
            
            If you want to get started contributing to GitLab, check out the [Contribute page](https://about.gitlab.com/contributing/). 

      .block
        .block-content
          %h2.block-title Q1'2019 Hackathon
          :markdown  
            <p class="alert alert-gitlab-purple text-center">
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            The Hackathon has started, have your MRs submitted by 00:00 Feb 14th in your time zone!
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            <br/><br/>
            <span class="h3" id="nextHackathonCountdown">
            <i class="fas fa-spinner fa-spin fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
            </span>
            </p>
            
            <figure class="video_container">
              <iframe src="https://www.youtube.com/embed/vem9GCtXapE" frameborder="0" allowfullscreen="true"> </iframe>
            </figure>

            See also:

            - [Hackathon kickoff slides](https://docs.google.com/presentation/d/1BZYh93oqh0-NeDh9pSmi75lA88pOigF1oH0yZlfcVMc/edit#slide=id.g42dc46e089_0_9)  
            - [Hackathon announcement](https://about.gitlab.com/2019/01/14/q1-hackathon-announcement/)

          %h3#prizes.block-title
            %a{ href: '#prizes' } Hackathon Prizes
          :markdown 
            We are excited to offer three categories of prizes for this Hackathon:
            
            1. Everyone with an MR merged will receive a **Merged MR** prize
            1. Each individual that submits a completed MR for an issue on the [Priority MR's list](/community/hackathon#priority-mrs) will receive the **Priority MR's** prize
            1. The individual with the most MRs merged will receive the **Grand Prize**.

            The new _Priority MR's_ category exists to encourage community contribution on key issues 
            that were identified by GitLab Product Managers. If you have your MR merged for
            [one of these issues](/community/hackathon#priority-mrs), you will receive this extra prize.
            A community member can only win one _Priority MR's_ prize, so we ask you to only work on one of
            the priority issues.

            Note: all qualifying MRs must be _submitted_ by
            [Feb 14 00:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190214T00) and _merged_ by
            [Feb 26 00:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190226T00)

          %p  
          
          .row
            %p
          .row.prizes
            .col-sm-12
              .prize-image
                = image_tag "/images/community/hackathon/prizes.png", class: "img-responsive"
          %p
          %h3#priority-mrs.block-title
            %a{ href: '#priority-mrs' } Priority MR's
          :markdown 
            The following are issues that we want to encourage community members to work on during the Hackathon. There are issues from several [product categories](https://about.gitlab.com/handbook/product/categories/), and we ask that each community member pick only one of these issues to work on. If you are interested in working on one of the issues during the Hackathon, please add a comment on the issue and note that you want to work on it. We may add more issues to the list prior to the Hackathon.    

          %p  
          %table.table
            %thead
              %tr
                %th
                   
                %th
                  Product category
                %th
                  Issues
                
            %tbody
              %tr
                %td
                  1 
                %td
                  Create
                %td
                  = link_to "Project custom file templates", "https://gitlab.com/gitlab-org/gitlab-ce/issues/26199"
              %tr
                %td
                  2 
                %td
                  Configure 
                %td
                  = link_to "Ingress deployment doesn't support non IP address formats", "https://gitlab.com/gitlab-org/gitlab-ce/issues/46691"
              %tr
                %td
                  3
                %td
                  Documentation (Charts) 
                %td
                  = link_to "Document how to set the maximum proxy body size", "https://gitlab.com/charts/gitlab/issues/776"
              %tr
                %td
                  4
                %td
                  Manage
                %td
                  = link_to "Share private project via URL", "https://gitlab.com/gitlab-org/gitlab-ce/issues/20549"                  
              %tr
                %td
                  5
                %td
                  Monitor
                %td
                  = link_to "Update cluster health empty state on cluster overview", "https://gitlab.com/gitlab-org/gitlab-ee/issues/7881"
              %tr
                %td
                  6
                %td
                  Plan
                %td
                  = link_to "Test cases and test suites", "https://gitlab.com/gitlab-org/gitlab-ce/issues/56215"  
              %tr
                %td
                  7
                %td
                  Release 
                %td
                  = link_to "Timer is vertically misaligned for delayed jobs in pipeline actions", "https://gitlab.com/gitlab-org/gitlab-ce/issues/52198"
              %tr
                %td
                  8
                %td
                  Verify
                %td
                  = link_to "Step folding - collapse job log into sections with duration", "https://gitlab.com/gitlab-org/gitlab-ce/issues/14664"
              %tr
                %td
                  9
                %td
                  Open Source
                %td
                  = link_to "Add project configuration to require MRs to have the allow_collaboration flag set", "https://gitlab.com/gitlab-org/gitlab-ce/issues/55661"
                  %br
                  = link_to "Button to toggle all discussions in a Merge Request", "https://gitlab.com/gitlab-org/gitlab-ce/issues/19149"
                  %br
                  = link_to "Highlight currently focused/viewed file in file tree", "https://gitlab.com/gitlab-org/gitlab-ce/issues/52485"

          %h3#sessions.block-title
            %a{ href: '#sessions' } Tutorial sessions
          :markdown 
            We are excited to announce the following tutorial sessions featuring several GitLab Product Managers:

          %p  

          %table.table
            %thead
              %tr
                %th
                  Date
                %th
                  Time in 
                  = link_to "UTC", "https://en.wikipedia.org/wiki/Coordinated_Universal_Time"
                  %br
                  (click for local time)
                %th
                  Session
                %th
                  Conference link
                %th
                  Speakers
                
            %tbody
              %tr
                %td
                  February 12
                %td
                  = link_to "08:00 - 08:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T08&p1=1440"
                %td  
                  Hackathon Kickoff
                %td
                  = link_to "Recording,", "https://youtu.be/vem9GCtXapE"
                  = link_to "Presentation", "https://docs.google.com/presentation/d/1BZYh93oqh0-NeDh9pSmi75lA88pOigF1oH0yZlfcVMc"
                %td
                  = link_to "Ray Paik (@rpaik),", "https://gitlab.com/rpaik" 
                  = link_to "Dave Planella (@dplanella)", "https://gitlab.com/dplanella"
              %tr
                %td
                   
                %td
                  = link_to "14:00 - 14:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T14&p1=1440"
                %td
                  Manage
                %td
                  = link_to "Recording", "https://youtu.be/BnSeX9dU0zA"
                %td
                  = link_to "Jeremy Watson (@jeremy)", "https://gitlab.com/jeremy"
              %tr
                %td
                    
                %td
                  = link_to "14:30 - 15:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T1430&p1=1440"
                %td
                  Verify
                %td
                  = link_to "Recording,", "https://youtu.be/pDXUYxdaEqE"
                  = link_to "Presentation", "https://docs.google.com/presentation/d/1y36J3r3IhYGSsatidUh64OcFvgDsrn8VxDj6Snrqqtc"
                %td
                  = link_to "Brendan O'Leary (@brendan)", "https://gitlab.com/brendan"
              %tr
                %td
                  
                %td
                  = link_to "18:30 - 19:00", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T1830&p1=1440"
                %td
                  Create
                %td
                  = link_to "Recording,", "https://youtu.be/VD4VFsYu_nA"      
                  = link_to "Presentation", "https://docs.google.com/presentation/d/117AX4khQwDKZIkyx6ovahrtCE1lW7pynXwUnNnNiKdI/edit"
                %td
                  = link_to "James Ramsay (@jramsay)", "https://gitlab.com/jramsay"
              %tr
                %td
                  
                %td
                  = link_to "19:00 - 19:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T19&p1=1440"
                %td
                  Configure
                %td
                  = link_to "Recording,", "https://youtu.be/12iLmFTBTJ8" 
                  = link_to "Presentation", "https://docs.google.com/presentation/d/1sfFD1ZeezseqZA4a-wGprLLGs5tK9UALbBTShvJW52A/"
                %td
                  = link_to "Daniel Gruesso (@danielgruesso)", "https://gitlab.com/danielgruesso"
              %tr
                %td
                  February 13
                %td
                  = link_to "23:00 - 23:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190213T23&p1=1440"
                %td
                  Hackathon wrap-up
                %td
                  = link_to "Join here", "https://gitlab.zoom.us/j/618134507"                   
                %td
                  = link_to "Ray Paik (@rpaik)", "https://gitlab.com/rpaik"      
          
          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            If you miss any of the sessions, you will find the recordings in the
            <a href="https://www.youtube.com/playlist?list=PLFGfElNsQthapq-CyXBTVnT2yKqg1JrNh">Hackathon Playlist</a>.
            </p>

          %h3#getting-help.block-title
            %a{ href: '#getting-help' } Getting help
          %p
          :markdown 
            For communications during the Hackathon, we will use the GitLab Community room in Gitter. This is a channel for community-related discussions and for community members to help each other as people have questions when contributing to GitLab.
            
            It's open to everyone, so please [join us at the GitLab Community room](https://gitter.im/gitlabhq/community)!

      .block
        .block-content
          #hackathon-q-a.animated
            %h3#faq.block-title
              %a{ href: '#faq' } Frequently Asked Questions
            .faq-holder.clearfix
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      Which GitLab projects qualify for the Hackathon?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        While we generally encourage contribution to the [GitLab CE](https://gitlab.com/gitlab-org/gitlab-ce)
                        and the [GitLab EE](https://gitlab.com/gitlab-org/gitlab-ee) projects, MRs for any project under the
                        [`gitlab-org` group](https://gitlab.com/gitlab-org) qualify for the Hackathon.

              %ol.faq-container.list-unstyled  
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      What are the key dates for the current Hackathon?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        - [February 12 8:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T08): Hackathon kickoff
                        - [February 14 0:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190214T00): all qualifying MRs must have been _submitted_
                        - [February 26 0:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190226T00): all qualifying MRs must have been _merged_

      .block
        .block-content
          %h2.block-title Past events

          %h3.block-title Q4'2018 Hackathon (November 14-15)
          %ul
            %li
              %a{href: "https://about.gitlab.com/2018/10/23/q4-hackathon-announcement/"} Event announcement blog post
            %li
              %a{href: "https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/hackathon/issues/9" } Hackathon prize winners
            %li
              %a{href: "https://about.gitlab.com/2018/11/29/q4-hackathon-recap/"} Event recap blog post              
            %li
              %a{href: "https://about.gitlab.com/community/hackathon/past-events.html#q42018-hackathon-november-14-15"} Hackathon materials

          %h3.block-title Hackathon event archive
          %p 
            To learn more about previous Hackathon events, visit the 
            %a{href: "https://about.gitlab.com/community/hackathon/past-events.html"} past GitLab Hackathons page.  
 
            